@page "/book-flight"
@using FlightSystem.UI
@inject AirportsService airportsService

<h3>BookFlight</h3>

<div class="row">
    <div class="col-md-5 col-sm-12">
        <AutoComplete @bind-Value="origin.Name"
                      TItem="Airport"
                      DataProvider="AirportsDataProvider"
                      PropertyName="Name"
                      Placeholder="Search an airport..."
                      OnChanged="(Airport airport) => OnOriginChanged(airport)" />
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-sm-12">
        <AutoComplete @bind-Value="destination.Name"
                      TItem="Airport"
                      DataProvider="AirportsDataProvider"
                      PropertyName="Name"
                      Placeholder="Search an airport..."
                      OnChanged="(Airport airport) => OnDestinationChanged(airport)" />
    </div>
</div>

@code {

    private Airport origin = new NoAirportSelected();
    private Airport destination = new NoAirportSelected();

    private async Task<AutoCompleteDataProviderResult<Airport>> AirportsDataProvider(AutoCompleteDataProviderRequest<Airport> request)
    {
        var airports = await airportsService.SearchAirportsAsync(request.Filter.Value);

        return await Task.FromResult(new AutoCompleteDataProviderResult<Airport>
        {
            Data = airports,
            TotalCount = airports.Count
        });
    }

    private void OnOriginChanged(Airport airport)
    {
        origin = airport;
    }

    private void OnDestinationChanged(Airport airport)
    {
        destination = airport;
    }

    protected class NoAirportSelected : Airport {
        public NoAirportSelected() : base("", "")
        {
            
        }
    }
}
